<table>
  <% @idea.comments.each do |comment| %>
    <tr>
      <td>
        <div class="alert alert-info">
          <blockquote>
            <div id = "<%=comment.id%>">
              <label class="commentContent" data-toggle="tooltip" title="To edit click on line">
                <%= best_in_place_if @user==comment.user_id, comment , :content, :type => :input, :path => {controller: :comments, action: :update, :idea_id => @idea.id, :id => comment.id}%>
              </label>
              <small>
                added
                <%= time_ago_in_words comment.created_at %>
                ago
              </small>
            </div>
          </blockquote>
          <p class ="buttons" data-toggle="tooltip" title="Like button and Delete button">
            <% if @user==comment.user_id %>
              <%= link_to "<i></i>".html_safe, [@idea, comment], :method=>:delete, :class=> "icon-remove", :confirm => 'Are you sure?' , :remote => true %>
            <%end%>
            <% if @likes.detect {|x| x.comment_id == comment.id}.nil? %>
              <%= link_to "<i class='icon-thumbs-up'></i>".html_safe,:controller => 'ideas', :action => 'like', :commentid => comment.id,:id =>@idea.id, :remote => true, class: 'btn' %>
            <% end %>
            <small class = "text-info">
              <%= comment.num_likes %>
              likes
            </small>
          </p>
        </div>
      </td>
    </tr>
  <% end %>
</table>
