<div id='show' class='archive-status'>
  <a class="popup" href="http://www.facebook.com/sharer.php?u=<%=root_url + url_for(idea)%>"><%= image_tag("f_logo.jpg", :class => "fbk")%></a>
  <a class="popup" href="http://twitter.com/share?url=<%=root_url + url_for(idea)%>&text=Checkout this idea on idearator"><%= image_tag("twitter-bird-white-on-blue.jpg", :class => "tw")%></a>
  <a class="popup" href="http://pinterest.com/pin/create/button/?url=<%=root_url + url_for(idea)%>&media=<%=root_url + idea.photo.url %>&description=<%= idea.description%>" class="pin-it-button" count-layout="horizontal"><%= image_tag("pinterest_badge_red.png", :class => "pin")%></a>
</div>
