<p id="notice"><%= notice %></p>
<legend><h4>Comments</h4></legend>
<div id='like'>
  <table>
    <% @idea.comments.each do |comment| %>
      <tr>
        <td>
          <blockquote>
            <label class="text-success">
              <%= best_in_place @comment, :content %>
            </label>
            <small>
              added
              <%= time_ago_in_words comment.created_at %>
              ago  and updated
              <%= time_ago_in_words comment.updated_at %>
              ago
            </small>
          </blockquote>
        </td>
        <td>
          <%= link_to "<i></i>".html_safe, [@idea, comment], :method=>:delete, :class=> "icon-remove", :confirm => 'Are you sure?' %>
          <% if @likes.detect {|x| x.comment_id == comment.id}.nil? %>
            <%= link_to "<i>+1</i>".html_safe ,:class => " icon-thumbs-up", :controller => 'ideas', :action => 'like', :commentid => comment.id,:id =>@idea.id, :remote => true %>
          <% end %>
          <%= link_to "<i></i>".html_safe, edit_idea_comment_path(@idea,comment), :id => "button_id", :class => "icon-edit" %>
          <small class = "text-info">
            <%= comment.num_likes %>
            likes
          </small>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <h5>Add a comment:</h5>
  <%= form_for([@idea, @idea.comments.create]) do |f| %>
    <div class="controls">
      <%= f.text_area :content ,:size => "6x6",:class => 'text_area',:placeholder=>"Write comment here..." %>
    </div>
    <%= f.submit nil, :class => 'btn btn-small btn-primary'%>
  <% end %>
