<div class='well notification approve-committee-notification <%= read ? 'read' : 'unread' %>' data-time=<%= notification.created_at.to_i %> data-notification = <%= notification.id %>>
  <span><%= notification.text %></span>
  <div class='notification-link'><%= link_to 'review committee', notification.user.becomes(User)%></div>
  <span class='notification-date'><%= notification.created_at.to_s(:long)%></span>
</div>