
<% if flash[:notice]%>
  <div id="notice"> <%= flash[:notice] %></div>
<% end %>
<h1>Please choose your area of expertise :</h1>

<%= form_for(@user, url: url_for(action: 'new_committee_tag')) do |form| %>
  <% @tags.each do |tag|%>
    <div><%= check_box_tag 'user[tags][]', tag.id, false %><%= tag.name %> </div>
  <% end %>
  <%= form.submit  value= 'Submit' %>
<% end %>