<div class="topten">
    <h1 class="title">Trending Ideas
    </h1>
    <% @trending.each do |top| %>
      <% if top.user.active == true and top.user.banned == false%>
        <div class="topten_idea media well">
           <h4 class="media-heading idea">
              <a data-popover-idea-id=<%=top.id %>>
                <%= top.title %>
              </a>
            </h4>
          <a class="pull-left" href="#">
            <span class="image"><%= image_tag(top.photo.url(:thumb), :size => "40x40") %></span>
          </a>
          <div class="media-body">
            <span>by: <%= link_to  top.user.username, top.user.becomes(User)  %></span>
            <br>
            <span class="badge"><%= top.num_votes %>
              votes</span>
          </div>
        </div>
      <% end %>
    <%end%>
  </div>
